BAM_Solution/.vs/BAM_Solution/v15/ipch/c443fce1241c5ae7.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/eb712fa970218f10/PPMTEST.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/ba29e45bbc7a73dd/DIELECTRIC.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/96b7e386c4f2368b/PPMTEST.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/5c505f0c94f5cf48/BAM_MATH.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/38fa1dda43956e62/METAL.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/24dc7990390d21a0/PPMTEST.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/23e6f2d7af44e75e/SPHERE.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/208f53e98b042e5a/HITABLELIST.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/1dda7ec679085bdc/LAMBERTIAN.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/11a579ad9fd416e5/CAMERA.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/8b556e77d34dc760.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/69dab835f4e69e08.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/265976f6d1a0d6a5.ipch
BAM_Solution/.vs/BAM_Solution/v15/Solution.VC.db
BAM_Solution/.vs/BAM_Solution/v15/Browse.VC.db
BAM_Solution/.vs/BAM_Solution/v15/.suo
BAM_Solution/ppmtest/x64/Release/vc141.pdb
BAM_Solution/ppmtest/x64/Release/ppmtest.tlog/ppmtest.write.1u.tlog
BAM_Solution/ppmtest/x64/Release/ppmtest.tlog/ppmtest.lastbuildstate
BAM_Solution/ppmtest/x64/Release/ppmtest.tlog/link.write.1.tlog
BAM_Solution/ppmtest/x64/Release/ppmtest.tlog/link.read.1.tlog
BAM_Solution/ppmtest/x64/Release/ppmtest.tlog/link.command.1.tlog
BAM_Solution/ppmtest/x64/Release/ppmtest.tlog/CL.write.1.tlog
BAM_Solution/ppmtest/x64/Release/ppmtest.tlog/CL.read.1.tlog
BAM_Solution/ppmtest/x64/Release/ppmtest.tlog/CL.command.1.tlog
BAM_Solution/ppmtest/x64/Release/ppmtest.obj
BAM_Solution/ppmtest/x64/Release/ppmtest.log
BAM_Solution/ppmtest/x64/Debug/vc141.pdb
BAM_Solution/ppmtest/x64/Debug/vc141.idb
BAM_Solution/ppmtest/x64/Debug/ppmtest.tlog/ppmtest.lastbuildstate
BAM_Solution/ppmtest/x64/Debug/ppmtest.tlog/link.write.1.tlog
BAM_Solution/ppmtest/x64/Debug/ppmtest.tlog/link.read.1.tlog
BAM_Solution/ppmtest/x64/Debug/ppmtest.tlog/link.command.1.tlog
BAM_Solution/ppmtest/x64/Debug/ppmtest.tlog/CL.write.1.tlog
BAM_Solution/ppmtest/x64/Debug/ppmtest.tlog/CL.read.1.tlog
BAM_Solution/ppmtest/x64/Debug/ppmtest.tlog/CL.command.1.tlog
BAM_Solution/ppmtest/x64/Debug/ppmtest.obj
BAM_Solution/ppmtest/x64/Debug/ppmtest.log
BAM_Solution/ppmtest/Release/vc141.pdb
BAM_Solution/ppmtest/Release/ppmtest.tlog/ppmtest.write.1u.tlog
BAM_Solution/ppmtest/Release/ppmtest.tlog/ppmtest.lastbuildstate
BAM_Solution/ppmtest/Release/ppmtest.tlog/link.write.1.tlog
BAM_Solution/ppmtest/Release/ppmtest.tlog/link.read.1.tlog
BAM_Solution/ppmtest/Release/ppmtest.tlog/link.command.1.tlog
BAM_Solution/ppmtest/Release/ppmtest.tlog/CL.write.1.tlog
BAM_Solution/ppmtest/Release/ppmtest.tlog/CL.read.1.tlog
BAM_Solution/ppmtest/Release/ppmtest.tlog/CL.command.1.tlog
BAM_Solution/ppmtest/Release/ppmtest.obj
BAM_Solution/ppmtest/Release/ppmtest.log
BAM_Solution/ppmtest/Debug/vc141.pdb
BAM_Solution/ppmtest/Debug/vc141.idb
BAM_Solution/ppmtest/Debug/ppmtest.tlog/ppmtest.lastbuildstate
BAM_Solution/ppmtest/Debug/ppmtest.tlog/link.write.1.tlog
BAM_Solution/ppmtest/Debug/ppmtest.tlog/link.read.1.tlog
BAM_Solution/ppmtest/Debug/ppmtest.tlog/link.command.1.tlog
BAM_Solution/ppmtest/Debug/ppmtest.tlog/CL.write.1.tlog
BAM_Solution/ppmtest/Debug/ppmtest.tlog/CL.read.1.tlog
BAM_Solution/ppmtest/Debug/ppmtest.tlog/CL.command.1.tlog
BAM_Solution/ppmtest/Debug/ppmtest.obj
BAM_Solution/ppmtest/Debug/ppmtest.log
BAM_Solution/BAM_mathlib/x64/Release/vc.nativecodeanalysis.all.xml
BAM_Solution/BAM_mathlib/x64/Release/bam_math.obj
BAM_Solution/BAM_mathlib/x64/Release/bam_math.nativecodeanalysis.xml
BAM_Solution/BAM_mathlib/x64/Release/NativeCodeAnalysis.read.1.tlog
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.tlog/Lib.command.1.tlog
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.tlog/Lib-link.write.1.tlog
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.tlog/Lib-link.read.1.tlog
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.tlog/CL.write.1.tlog
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.tlog/CL.read.1.tlog
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.tlog/CL.command.1.tlog
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.tlog/BAM_mathlib.lastbuildstate
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.pdb
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.log
BAM_Solution/BAM_mathlib/x64/Release/BAM_mathlib.Build.CppClean.log
BAM_Solution/BAM_mathlib/x64/Debug/vc.nativecodeanalysis.all.xml
BAM_Solution/BAM_mathlib/x64/Debug/bam_math.obj
BAM_Solution/BAM_mathlib/x64/Debug/bam_math.nativecodeanalysis.xml
BAM_Solution/BAM_mathlib/x64/Debug/NativeCodeAnalysis.read.1.tlog
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.tlog/Lib.command.1.tlog
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.tlog/Lib-link.write.1.tlog
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.tlog/Lib-link.read.1.tlog
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.tlog/CL.write.1.tlog
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.tlog/CL.read.1.tlog
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.tlog/CL.command.1.tlog
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.tlog/BAM_mathlib.lastbuildstate
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.pdb
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.log
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.idb
BAM_Solution/BAM_mathlib/x64/Debug/BAM_mathlib.Build.CppClean.log
BAM_Solution/BAM_mathlib/Release/vc.nativecodeanalysis.all.xml
BAM_Solution/BAM_mathlib/Release/bam_math.obj
BAM_Solution/BAM_mathlib/Release/bam_math.nativecodeanalysis.xml
BAM_Solution/BAM_mathlib/Release/NativeCodeAnalysis.read.1.tlog
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.tlog/Lib.command.1.tlog
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.tlog/Lib-link.write.1.tlog
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.tlog/Lib-link.read.1.tlog
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.tlog/CL.write.1.tlog
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.tlog/CL.read.1.tlog
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.tlog/CL.command.1.tlog
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.tlog/BAM_mathlib.lastbuildstate
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.pdb
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.log
BAM_Solution/BAM_mathlib/Release/BAM_mathlib.Build.CppClean.log
BAM_Solution/BAM_mathlib/Debug/vc.nativecodeanalysis.all.xml
BAM_Solution/BAM_mathlib/Debug/bam_math.obj
BAM_Solution/BAM_mathlib/Debug/bam_math.nativecodeanalysis.xml
BAM_Solution/BAM_mathlib/Debug/NativeCodeAnalysis.read.1.tlog
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.tlog/Lib.command.1.tlog
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.tlog/Lib-link.write.1.tlog
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.tlog/Lib-link.read.1.tlog
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.tlog/CL.write.1.tlog
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.tlog/CL.read.1.tlog
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.tlog/CL.command.1.tlog
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.tlog/BAM_mathlib.lastbuildstate
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.pdb
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.log
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.idb
BAM_Solution/BAM_mathlib/Debug/BAM_mathlib.Build.CppClean.log
BAM_Solution/BAM_graphicslib/x64/Release/Sphere.obj
BAM_Solution/BAM_graphicslib/x64/Release/Metal.obj
BAM_Solution/BAM_graphicslib/x64/Release/Lambertian.obj
BAM_Solution/BAM_graphicslib/x64/Release/HitableList.obj
BAM_Solution/BAM_graphicslib/x64/Release/Dielectric.obj
BAM_Solution/BAM_graphicslib/x64/Release/Camera.obj
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.tlog/Lib.command.1.tlog
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.tlog/Lib-link.write.1.tlog
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.tlog/Lib-link.read.1.tlog
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.tlog/CL.write.1.tlog
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.tlog/CL.read.1.tlog
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.tlog/CL.command.1.tlog
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.tlog/BAM_graphicslib.lastbuildstate
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.pdb
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.log
BAM_Solution/BAM_graphicslib/x64/Debug/Sphere.obj
BAM_Solution/BAM_graphicslib/x64/Debug/Metal.obj
BAM_Solution/BAM_graphicslib/x64/Debug/Lambertian.obj
BAM_Solution/BAM_graphicslib/x64/Debug/HitableList.obj
BAM_Solution/BAM_graphicslib/x64/Debug/Dielectric.obj
BAM_Solution/BAM_graphicslib/x64/Debug/Camera.obj
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.tlog/Lib.command.1.tlog
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.tlog/Lib-link.write.1.tlog
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.tlog/Lib-link.read.1.tlog
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.tlog/CL.write.1.tlog
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.tlog/CL.read.1.tlog
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.tlog/CL.command.1.tlog
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.tlog/BAM_graphicslib.lastbuildstate
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.pdb
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.log
BAM_Solution/BAM_graphicslib/x64/Debug/BAM_graphicslib.idb
BAM_Solution/BAM_graphicslib/Release/Sphere.obj
BAM_Solution/BAM_graphicslib/Release/Metal.obj
BAM_Solution/BAM_graphicslib/Release/Lambertian.obj
BAM_Solution/BAM_graphicslib/Release/HitableList.obj
BAM_Solution/BAM_graphicslib/Release/Dielectric.obj
BAM_Solution/BAM_graphicslib/Release/Camera.obj
BAM_Solution/BAM_graphicslib/Release/BAM_graphicslib.tlog/Lib.command.1.tlog
BAM_Solution/BAM_graphicslib/Release/BAM_graphicslib.tlog/Lib-link.write.1.tlog
BAM_Solution/BAM_graphicslib/Release/BAM_graphicslib.tlog/Lib-link.read.1.tlog
BAM_Solution/BAM_graphicslib/Release/BAM_graphicslib.tlog/CL.write.1.tlog
BAM_Solution/BAM_graphicslib/Release/BAM_graphicslib.tlog/CL.read.1.tlog
BAM_Solution/BAM_graphicslib/Release/BAM_graphicslib.tlog/CL.command.1.tlog
BAM_Solution/BAM_graphicslib/Release/BAM_graphicslib.tlog/BAM_graphicslib.lastbuildstate
BAM_Solution/BAM_graphicslib/Release/BAM_graphicslib.pdb
BAM_Solution/BAM_graphicslib/Release/BAM_graphicslib.log
BAM_Solution/BAM_graphicslib/Debug/Sphere.obj
BAM_Solution/BAM_graphicslib/Debug/Metal.obj
BAM_Solution/BAM_graphicslib/Debug/Lambertian.obj
BAM_Solution/BAM_graphicslib/Debug/HitableList.obj
BAM_Solution/BAM_graphicslib/Debug/Dielectric.obj
BAM_Solution/BAM_graphicslib/Debug/Camera.obj
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.tlog/Lib.command.1.tlog
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.tlog/Lib-link.write.1.tlog
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.tlog/Lib-link.read.1.tlog
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.tlog/CL.write.1.tlog
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.tlog/CL.read.1.tlog
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.tlog/CL.command.1.tlog
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.tlog/BAM_graphicslib.lastbuildstate
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.pdb
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.log
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.idb
BAM_Solution/BAM_graphicslib/Debug/BAM_graphicslib.Build.CppClean.log
BAM_Solution/x64/Release/ppmtest.pdb
BAM_Solution/x64/Release/ppmtest.ipdb
BAM_Solution/x64/Release/ppmtest.iobj
BAM_Solution/x64/Release/ppmtest.exe
BAM_Solution/x64/Release/BAM_mathlib.lib.lastcodeanalysissucceeded
BAM_Solution/x64/Release/BAM_mathlib.lib
BAM_Solution/x64/Release/BAM_graphicslib.lib
BAM_Solution/x64/Debug/ppmtest.pdb
BAM_Solution/x64/Debug/ppmtest.ilk
BAM_Solution/x64/Debug/ppmtest.exe
BAM_Solution/x64/Debug/BAM_mathlib.pdb
BAM_Solution/x64/Debug/BAM_mathlib.lib.lastcodeanalysissucceeded
BAM_Solution/x64/Debug/BAM_mathlib.lib
BAM_Solution/x64/Debug/BAM_graphicslib.pdb
BAM_Solution/x64/Debug/BAM_graphicslib.lib
BAM_Solution/Release/ppmtest.pdb
BAM_Solution/Release/ppmtest.ipdb
BAM_Solution/Release/ppmtest.iobj
BAM_Solution/Release/ppmtest.exe
BAM_Solution/Release/BAM_mathlib.lib.lastcodeanalysissucceeded
BAM_Solution/Release/BAM_mathlib.lib
BAM_Solution/Release/BAM_graphicslib.lib
BAM_Solution/Debug/ppmtest.pdb
BAM_Solution/Debug/ppmtest.ilk
BAM_Solution/Debug/ppmtest.exe
BAM_Solution/Debug/BAM_mathlib.pdb
BAM_Solution/Debug/BAM_mathlib.lib.lastcodeanalysissucceeded
BAM_Solution/Debug/BAM_mathlib.lib
BAM_Solution/Debug/BAM_graphicslib.pdb
BAM_Solution/Debug/BAM_graphicslib.lib
BAM_Solution/.vs/BAM_Solution/v15/Solution.VC.db-wal
BAM_Solution/.vs/BAM_Solution/v15/Browse.VC.opendb
BAM_Solution/.vs/BAM_Solution/v15/Solution.VC.db-shm
BAM_Solution/x64/Release/ppmtest.exe.lastcodeanalysissucceeded
BAM_Solution/ppmtest/x64/Release/vc.nativecodeanalysis.all.xml
BAM_Solution/ppmtest/x64/Release/ppmtest.nativecodeanalysis.xml
BAM_Solution/ppmtest/x64/Release/ppmtest.Build.CppClean.log
BAM_Solution/ppmtest/x64/Release/NativeCodeAnalysis.read.1.tlog
BAM_Solution/BAM_graphicslib/x64/Release/BVHNode.obj
BAM_Solution/BAM_graphicslib/x64/Release/BAM_graphicslib.Build.CppClean.log
BAM_Solution/BAM_graphicslib/x64/Release/AABB.obj
BAM_Solution/BAM_graphicslib/x64/Debug/BVHNode.obj
BAM_Solution/BAM_graphicslib/x64/Debug/AABB.obj
BAM_Solution/BAM_graphicslib/Release/BVHNode.obj
BAM_Solution/BAM_graphicslib/Release/AABB.obj
BAM_Solution/BAM_graphicslib/Debug/BVHNode.obj
BAM_Solution/BAM_graphicslib/Debug/AABB.obj
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/e1b33a16075f21fb/AABB.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/c2c6542467b0b7d6/CAMERA.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/5d6438f16eeeb2ba/AABB.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/438546ee176e4561/HITABLELIST.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/38485c91cb276c10/BVHNODE.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/1c72ac83f53550ad/SPHERE.ipch
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.tlog/BAM_physicslib.lastbuildstate
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.log
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/7c174a9a38279b3b/BAM_MATH.ipch
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.tlog/CL.command.1.tlog
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.pdb
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.Build.CppClean.log
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/e199c24a3c7ab96/DIELECTRIC.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/8ef36f69c7dbcd7a/PARTICLEFORCEGENERATOR.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/74c7b41418161b81/PARTICLE.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/5e402db2feaa5412/PARTICLEGRAVITY.ipch
BAM_Solution/ppmtest/frames/testRender_7.ppm
BAM_Solution/ppmtest/frames/testRender_69.ppm
BAM_Solution/ppmtest/frames/testRender_68.ppm
BAM_Solution/ppmtest/frames/testRender_67.ppm
BAM_Solution/ppmtest/frames/testRender_66.ppm
BAM_Solution/ppmtest/frames/testRender_65.ppm
BAM_Solution/ppmtest/frames/testRender_64.ppm
BAM_Solution/ppmtest/frames/testRender_63.ppm
BAM_Solution/ppmtest/frames/testRender_62.ppm
BAM_Solution/ppmtest/frames/testRender_61.ppm
BAM_Solution/ppmtest/frames/testRender_60.ppm
BAM_Solution/ppmtest/frames/testRender_6.ppm
BAM_Solution/ppmtest/frames/testRender_59.ppm
BAM_Solution/ppmtest/frames/testRender_58.ppm
BAM_Solution/ppmtest/frames/testRender_57.ppm
BAM_Solution/ppmtest/frames/testRender_56.ppm
BAM_Solution/ppmtest/frames/testRender_28.ppm
BAM_Solution/ppmtest/frames/testRender_27.ppm
BAM_Solution/ppmtest/frames/testRender_26.ppm
BAM_Solution/ppmtest/frames/testRender_25.ppm
BAM_Solution/ppmtest/frames/testRender_24.ppm
BAM_Solution/ppmtest/frames/testRender_23.ppm
BAM_Solution/ppmtest/frames/testRender_22.ppm
BAM_Solution/ppmtest/frames/testRender_21.ppm
BAM_Solution/ppmtest/frames/testRender_20.ppm
BAM_Solution/ppmtest/frames/testRender_2.ppm
BAM_Solution/ppmtest/frames/testRender_19.ppm
BAM_Solution/ppmtest/frames/testRender_18.ppm
BAM_Solution/ppmtest/frames/testRender_17.ppm
BAM_Solution/ppmtest/frames/testRender_16.ppm
BAM_Solution/ppmtest/frames/testRender_15.ppm
BAM_Solution/ppmtest/frames/testRender_14.ppm
BAM_Solution/ppmtest/frames/testRender_13.ppm
BAM_Solution/ppmtest/frames/testRender_12.ppm
BAM_Solution/ppmtest/frames/testRender_11.ppm
BAM_Solution/ppmtest/frames/testRender_10.ppm
BAM_Solution/ppmtest/frames/testRender_1.ppm
BAM_Solution/ppmtest/frames/testRender_0.ppm
BAM_Solution/BAM_physicslib/x64/Release/ParticleGravity.obj
BAM_Solution/BAM_physicslib/x64/Release/ParticleForceGenerator.obj
BAM_Solution/BAM_physicslib/x64/Release/Particle.obj
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.tlog/Lib.command.1.tlog
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.tlog/Lib-link.write.1.tlog
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.tlog/Lib-link.read.1.tlog
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.tlog/CL.write.1.tlog
BAM_Solution/BAM_physicslib/x64/Release/BAM_physicslib.tlog/CL.read.1.tlog
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/4e771a7a467be4d7/LAMBERTIAN.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/316e28ad7a3016c1/METAL.ipch
BAM_Solution/.vs/BAM_Solution/v15/ipch/AutoPCH/25ad91d3d69c770b/SPHERE.ipch
BAM_Solution/x64/Release/BAM_physicslib.lib
BAM_Solution/ppmtest/frames/testRender_9.ppm
BAM_Solution/ppmtest/frames/testRender_8.ppm
BAM_Solution/ppmtest/frames/testRender_70.ppm
BAM_Solution/ppmtest/frames/testRender_55.ppm
BAM_Solution/ppmtest/frames/testRender_54.ppm
BAM_Solution/ppmtest/frames/testRender_53.ppm
BAM_Solution/ppmtest/frames/testRender_52.ppm
BAM_Solution/ppmtest/frames/testRender_51.ppm
BAM_Solution/ppmtest/frames/testRender_50.ppm
BAM_Solution/ppmtest/frames/testRender_5.ppm
BAM_Solution/ppmtest/frames/testRender_49.ppm
BAM_Solution/ppmtest/frames/testRender_48.ppm
BAM_Solution/ppmtest/frames/testRender_47.ppm
BAM_Solution/ppmtest/frames/testRender_46.ppm
BAM_Solution/ppmtest/frames/testRender_45.ppm
BAM_Solution/ppmtest/frames/testRender_44.ppm
BAM_Solution/ppmtest/frames/testRender_43.ppm
BAM_Solution/ppmtest/frames/testRender_42.ppm
BAM_Solution/ppmtest/frames/testRender_41.ppm
BAM_Solution/ppmtest/frames/testRender_40.ppm
BAM_Solution/ppmtest/frames/testRender_4.ppm
BAM_Solution/ppmtest/frames/testRender_39.ppm
BAM_Solution/ppmtest/frames/testRender_38.ppm
BAM_Solution/ppmtest/frames/testRender_37.ppm
BAM_Solution/ppmtest/frames/testRender_36.ppm
BAM_Solution/ppmtest/frames/testRender_35.ppm
BAM_Solution/ppmtest/frames/testRender_34.ppm
BAM_Solution/ppmtest/frames/testRender_33.ppm
BAM_Solution/ppmtest/frames/testRender_32.ppm
BAM_Solution/ppmtest/frames/testRender_31.ppm
BAM_Solution/ppmtest/frames/testRender_30.ppm
BAM_Solution/ppmtest/frames/testRender_3.ppm
BAM_Solution/ppmtest/frames/testRender_29.ppm
BAM_Solution/ppmtest/frames/
